@font-face {
  font-family: 'alegreya';
  src: url('/fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
  url('/fonts/alegreyasanssc-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --yellow: #ffbc2f;
  --red: #d82727;
  --light-black: #1b1b1b;
  --fon-black: #232323;
  --titleFonts: 'Yanone Kaffeesatz', Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  font: 16px / 1.42 'Roboto', Arial, sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fcf5e6;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}


.container {
  width: 89%;
  height: 100%;
  margin: 0 auto;
}

/*----------- HERO -----------*/
.hero {
  /*vh - viewport height*/
  height: 100vh;
  background: url("/Lost-shirt_by_ZOOM/img/bg/hero.jpg") center center / cover no-repeat;
  /*position и size должны разделяться через / */
  /*background-image: url("/img/bg/hero.jpg");*/
  /*background-position: center, center;*/

  /*!*cover - всегда заполнять полностью свой блок*/
  /*contain - чтобы картинка не могла вылезти за пределы блока*!*/
  /*background-size: cover;*/

  /*background-repeat: no-repeat;*/

  position: relative;

  margin-bottom: 130px;
}

.hero__content {
  width: 100%;
  height: 72%;
}

/******** HEADER *********/

.header {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__pic {
  margin-top: 1rem;
}

.mail {
  text-align: center;
  color: inherit;
}

.mail__title {
  margin-bottom: 3px;
}

.mail__content {
  background: #212121;
  color: var(--yellow);
  font-size: 16px;
  padding: 5px 10px;

  transition: all .2s linear;
}

.mail__content:hover {
  background: var(--red);
  color: #fff;
}

/*----- sidebar -----*/
.sidebar {
  width: 75px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--light-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all .2s linear;
}

.sidebar--opened {
  width: 325px;
  padding: 0 3% 0 4%;
}

.sidebar--opened .sidebar__header {
  display: flex;
}

.sidebar__menu {
  position: absolute;
  left: -400px;
  transition: all .4s linear;
}

.sidebar--opened .sidebar__menu {
  left: 0;
  width: 100%;
  text-align: center;
}

.sidebar--opened .sidebar__burger {
  display: none;
}

.sidebar__header {
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
}

.sidebar__close {
  position: absolute;
  top: -4px;
  right: 23px;
}

.sidebar__burger-icon {
  width: 29px;
  height: 29px;
  fill: var(--yellow);

  transition: all .1s linear;
}

.sidebar__burger-icon:hover {
  fill: var(--red);
}

.sidebar__burger {
  display: block;
  position: absolute;
  top: 27px;
  left: 50%;
  transform: translate(-50%);
}

.sidebar__close:hover .sidebar__close-icon {
  transform: rotate(90deg);
  fill: var(--red);
}

.sidebar__close-icon {
  width: 29px;
  height: 29px;
  fill: var(--yellow);

  transition: all .2s linear;
}

.side-menu__item {
  margin-bottom: 20px;
}

.side-menu__link {
  font-size: 20px;
  color: var(--yellow);
  text-transform: uppercase;
  font-family: var(--titleFonts);
}

.side-menu__link:hover {
  color: var(--red);
}


/******** SLIDER *********/


.fade-slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.fade-slider__item {
  background: center center / contain no-repeat;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  transition: all .8s linear;
}

.fade-slider__item--visible {
  opacity: 1;
}

.fade-slider__item--style-t-shirts {
  background-image: url("/Lost-shirt_by_ZOOM/img/content/hero/slider_pic_1.png");
}

.fade-slider__item--style-games {
  background-image: url("/Lost-shirt_by_ZOOM/img/content/hero/slider_pic_2.png");
}

.fade-slider__item--style-presents {
  background-image: url("/Lost-shirt_by_ZOOM/img/content/hero/slider_pic_3.png");
}

.fade-slider__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-162%, -15%);
}

.lined-text {
  font-family: "alegreya", Arial, sans-serif;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lined-text__word {
  background: #000;
  padding: 0 17px 8px;
  margin-top: -7px;
}

.lined-text__word--color-yellow {
  color: var(--yellow);
}

.lined-text__word:nth-child(2n) {
  margin-left: 8px;
}

.fade-slider__item--style-games .fade-slider__text {
  position: absolute;
  bottom: 0;
  right: -27%;
  transform: translate(-49%, 60%);
}

.fade-slider__item--style-games .fade-slider__text .lined-text,
.fade-slider__item--style-presents .fade-slider__text .lined-text {
  font-family: "alegreya", Arial, sans-serif;
  color: #fff;
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade-slider__item--style-presents .fade-slider__text {
  position: absolute;
  bottom: 0;
  right: -27%;
  transform: translate(-74%, 30%);
}

.lined-text__word span {
  font-size: 3.5rem;
}


/*----------- PRODUCTS -----------*/


/******** PRODUCTS FILTER *********/
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;

  font-family: var(--titleFonts);

}

.filter__item {
  margin-right: 40px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__item--active .filter__link {
  background: #000;
  color: #ffc92f;
}

.filter__link {
  text-transform: uppercase;
  padding: 3px 21px;
  color: var(--light-black);
  font-size: 1.5rem;
  font-weight: bold;

  display: inline-block;
}

.filter__link:hover {
  color: var(--red);
  transition: all .1s linear;
}


/******** PRODUCTS CONTENT *********/

.products {
  margin-bottom: 160px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -27px;
}

.products__item {
  width: 302px;
  height: 386px;
  background: var(--yellow);
  margin-bottom: 35px;
  margin-left: 27px;

  position: relative;
}

.products__item--color-black {
  background-color: var(--fon-black);
}

.products__item--color-black .products__price {
  border-bottom-color: var(--yellow);
}

.products__item--color-black .products__price-amount {
  color: var(--fon-black);
}


.products__item--size-double {
  width: 630px;
  height: 544px;
}

.products__item:hover .products__desc {
  transform: translateY(0);
}

.products__price {
  position: absolute;
  top: 15px;
  left: -10px;
  width: 126px;
  border-bottom: 45px solid var(--fon-black);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: rotate(-181deg);
}

.products__price-amount {
  font-size: 30px;
  font-weight: 700;
  font-family: var(--titleFonts);
  color: #fff;
  transform: rotate(181deg);
  position: absolute;
  top: 0;
  right: 35px;
}

.products__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
}

.products__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.products__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 23px 30px;

  background: rgba(35, 35, 35, .8);

  font-size: 15px;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateY(100%);
  transition: all .2s linear;
}

.products__desc-text {
  text-align: center;
  margin-bottom: 18px;
}

.btn {
  text-transform: uppercase;
  font-family: var(--titleFonts);
  font-size: 24px;
  padding: 2px 30px;
  background: var(--light-black);
  color: var(--yellow);
  display: inline-block;
}

.btn:hover {
  background: var(--red);
  color: #fff;
}

/*------Collections-----*/
.collections {
  margin-bottom: 135px;
}

.collections__list {
  display: flex;
}

.collections__item {
  min-height: 474px;
  flex: 1;
  overflow: hidden;
  margin-right: 30px;

  background: url("/Lost-shirt_by_ZOOM/img/bg/pattern.png") center center / 100%;

  position: relative;
}

.collections__item:last-child {
  margin-right: 0;
}

.collections__item:before {
  content: "";
  display: block;
  position: absolute;
  height: 176%;
  width: 60%;
  top: -14%;
  left: -18%;

  background: center center / contain no-repeat;
}

.collections__item--type-guys:before {
  background-image: url("/Lost-shirt_by_ZOOM/img/collections/collection_man.png");
}

.collections__item--type-girls:before {
  background-image: url("/Lost-shirt_by_ZOOM/img/collections/collection_woman.png");
  top: -31%;
  width: 80%;
  left: -25%;
}

.collections__link {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  display: block;
  padding: 74px 13% 74px 44%;
  color: inherit;
  font-size: 15px;
}

.collections__link:hover .btn {
  background: var(--red);
  color: #fff;
}

.collections__title {
  font-family: var(--titleFonts);
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 11px;
}

.collections__desc {
  margin-bottom: 28px;
}

/*-----FOOTER-----*/

footer {
  margin-bottom: 115px;
}

.footer__container {
  width: 80%;
}

.site-menu {
  margin-bottom: 115px;
}

.site-menu__sections {
  display: flex;
  justify-content: space-between;
}

.site-menu__col {
  margin-right: 20px;
}

.site-menu__col:last-child {
  margin-right: 0;
}

.site-menu__title {
  font-family: var(--titleFonts);
  font-size: 24px;
  font-weight: bold;
  color: var(--light-black);

  text-transform: uppercase;
  margin-bottom: 24px;
}

.site-menu__item {
  margin-bottom: 15px;
}

.site-menu__link {
  color: #737373;
  font-size: 15px;
  text-decoration: none;

  transition: all .2s linear;
}

.site-menu__link:hover {
  color: var(--red);
}

/***** Site menu info ******/

.site-menu__info-address {
  margin-bottom: 40px;
}

.site-menu__info-phone {
  margin-bottom: 18px;
}

.site-menu__info a {
  color: inherit;
}


/*-----extras-----*/
.extras {
  display: flex;
  margin-bottom: 95px;
}

.extras__col {
  margin-right: 20px;
  flex: 1;
}

.extras__block-text:hover {

}

.extras__col:last-child {
  margin-right: 0;
}

.extras__link {
  display: block;
}

.extras__best {
  text-align: center;
  color: #fff;
  background-color: var(--light-black);
  font-size: 50px;
  font-weight: 700;

  font-family: var(--titleFonts);
  padding: 60px 10%;

  line-height: 1;

  transition: all .1s linear;
}

.extras__best:hover {
  opacity: 0.8;
}

.extras__col-socials {
  height: 100%;
  background: url("/Lost-shirt_by_ZOOM/img/bg/pattern.png") center center / 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/****** socials ******/
.socials {
  display: flex;
}

.socials__item {
  margin-right: 50px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 38px;
  height: 38px;
}

.socials__link:hover .socials__icon {
  fill: var(--red);
}

.socials__icon {
  width: 100%;
  height: 100%;

  transition: all .1s linear;
}